<!DOCTYPE html>
<html lang="en">
  {% extends 'matteapp/base.html'%}
  {%load static%}
  {% block content%}


<body>
  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">@@@ test title space @@@</h1>
        </div>
      </div>
    </div>
  </header>


<div>
  <h4 style="padding-top: 20px; text-align: center;">문제에 대한 응답을 선택해주세요.</h4>
  <form method = "post" action = "{%url 'result' %}" >
  {% csrf_token %}
  {% for question in question_list %}

    <!-- Radio Button Module -->
  {% if forloop.counter == 1 %}
  <div id="rb-box-{{ forloop.counter }}" class="rb-box" style="opacity:1">
  {% else %}
  <div id="rb-box-{{ forloop.counter }}" class="rb-box" style="opacity:0.5">
  {% endif %}
  <input type="hidden" name="test_id" value="{{ question.test_id }}">
  <div> <p>Q{{ forloop.counter }}. {{ question.q_text }}</p></div>
  <div id="rb-{{ forloop.counter }}" class="rb">
    <div class="rb-tab rb-tab" data-value="0">
      <div class="rb-spot" onclick="fnMove('{{ forloop.counter }}')">
        <span class="rb-txt">0</span>
        </div>
      </div><div class="rb-tab" data-value="1">
        <div class="rb-spot" onclick="fnMove('{{ forloop.counter }}')">
          <span class="rb-txt">1</span>
        </div>
      </div><div class="rb-tab" data-value="2">
        <div class="rb-spot" onclick="fnMove('{{ forloop.counter }}')">
          <span class="rb-txt">2</span>
        </div>
      </div><div class="rb-tab" data-value="3">
        <div class="rb-spot" onclick="fnMove('{{ forloop.counter }}')">
          <span class="rb-txt">3</span>
        </div>
      </div>
    </div>
  </div>
  <br>
  {% endfor %}
  <br>
   <!-- Button -->
   <div class="button-box">
    <button class="button trigger">Submit!</button>
  </div>
  <input type="hidden" name="total">
</div>
  </form>
<br><br><br>
</div>

  <script>
    function fnMove(seq){
      $('#rb-box-'+String(Number(seq)+1)).attr("style", "opacity:1;");
      var offset = $("#rb-" + seq).offset();
      $('html, body').animate({scrollTop : offset.top}, 400);
    }
  </script>

</body>

</html>
{% endblock content%}