{% extends 'matteapp/base.html'%}
{%load static%}
{% block content%}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div style="text-align: center;">
    <h1>회원수정</h1>
    <br>
    <form action="{% url 'update' %}" method='POST'>
        {% csrf_token %}
        <div>
            <div style="display:inline-block">username : </div>
            <div style="display:inline-block"><input type="text" name="username" value="{{username}}"></div>
            <br>
            <br>        
            <div style="display:inline-block">email : </div>
            <div style="display:inline-block"><input type="text" name="email" value="{{email}}"></div>
        </div>
        <br>

        <input type="submit" value="수정" id="subbmit">
    </form>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock content%}